<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Formulaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/form.css}"> 
</head>
<body>
	<h1 th:text="${appTitle}" class="app-title"> </h1>
	<h3 th:text="|Hello ${userName}|"> </h3>
    <p>
        <hr noshade width="80%"  align="left">
    </p>
    <form action="#" th:action="@{/save}" th:object="${form}" method="post" enctype="multipart/form-data">
    	<p>Title <br><input type="text" th:field="*{title}" class="input"/></p>
        <p>Comment <br> <textarea type="text" th:field="*{comment}" class="textarea" rows="10"></textarea></p>
        <p>File <br> <input type="file" name="file" /></p>
        <p><input type="submit" value="Submit" class="button" /> </p>
    </form>
    <div class="feedback-container">
        <table class="feedback-table">
            <thead>
                <tr>
                    <th style="width: 30%">Title</th>
                    <th style="width: 50%">Comment</th>
                    <th style="width: 20%">Image</th>
                </tr>
        </thead>
            <tr th:each="feedback: ${feedbacks}">
                <td th:text="${feedback.title}" style="width: 30%"></td>
                <td th:text="${feedback.comment}" style="width: 50%"></td>
                <td style="width: 20%"><img th:src="${feedback.url}" class="image"/></td>

            </tr>
        </table>
    </div>

    <div th:if="${message != null }" class="message">
        <p th:text="${message}"></p>
    </div>
</body>
</html>